/exercicio-dicionario/MeuDicionario/nbproject/private/
/exercicio-dicionario/MeuDicionario/build/
/editor-grafico/nbproject/private/
/editor-grafico/build/
/editor-grafico/dist/
/imobiliaria/nbproject/private/
/imobiliaria/build/