/exercicio-dicionario/MeuDicionario/nbproject/private/
/exercicio-dicionario/MeuDicionario/build/
/editor-grafico/nbproject/private/
/editor-grafico/build/
/editor-grafico/dist/
/imobiliaria/nbproject/private/
/imobiliaria/build/
/locadora/nbproject/private/
/locadora/build/
/Todolist/nbproject/private/
/Todolist/build/
/Todolist-v1/nbproject/private/
/Todolist-v1/build/
/GUI/nbproject/private/
/GUI/build/
/GUI/dist/
/JavaApplication5/nbproject/private/
/JavaApplication5/build/
/Todolist-v2/nbproject/private/
/Todolist-v2/build/
/Todolist-v2/dist/
/Todolist-v3/nbproject/private/
/Todolist-v3/dist/
/Todolist-v3/build/
/Todolist-v4/nbproject/private/
/Todolist-v4/build/
/Todolist-v4/dist/
/Todolist-v5/nbproject/private/
/Todolist-v5/dist/
/Todolist-v5/build/
/CorpoHumano/nbproject/private/
/CorpoHumano/build/